// withName:CENTRALITY_PLOTS {
//     publishDir = [
//         path: { "${params.outdir}/centrality_plots" },
//         mode: params.publish_dir_mode,
//         saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//     ]
//     container = "docker://cbgr/jaspar_curation_base:0.4.5"
// }

// container = "docker://cbgr/memesuite:0.1.0"
// https://meme-suite.org/meme/doc/streme.html?man_type=web

// https://bioinformaticsworkbook.org/dataWrangling/fastaq-manipulations/converting-fastq-format-to-fasta.html#gsc.tab=0

process {
}